<doctype html>
<title>List Instituicao</title>
<body style="padding:20px">
  {% if cursor %}
  <table border="3px">
    <thead>
      <tr>
        <th><p1><a href="./">Back to Index</a></p1></th>
        <th><p1><a href="instituicao/insert"> Inserir Instituicao</a></p1></th>
      </tr>
    </thead>
  <br/><br/>
    <table border="2px">
      <thead>
        <tr>
          <th>Nome de Instituicao</th>
          <th>Tipo de Instituicao</th>
          <th>Numero de Regiao</th>
          <th>Numero de Concelho</th>
          <th>Alterar</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>      
        {% for record in cursor %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td><a href="instituicao/update?nome={{ record[0] }}&tipo={{record[1]}}&regiao={{record[2]}}&concelho={{record[3]}}"> Alterar Instituicao</a></td>
            <td><a href="instituicao/delete?nome={{ record[0] }}">Remover Instituicao</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p> Erro: ao obter dados da base de dados!</p>
  {% endif %}
</body>
</doctype>
