<html>
    <body>
        <h3>Adicionar Analise Nova</h3>
        <form action="insert/done" method="post">
            <p>Numero de Análise: <input type="number" name="num_analise" value=""/></p>
            <p>Especialidade: <input type="text" name="especialidade" value=""/></p>
            <p>Numero de Cédula: <input type="number" name="num_cedula" value=""/></p>
            <p>Numero de Doente: <input type="number" name="num_doente" value=""/></p>
            <p>Data: <input type="date" name="data" value=""/></p>
            <p>Data Registo: <input type="date" name="data_registo" value=""/></p>
            <p>Nome: <input type="text" name="nome" value=""/></p>
            <p>Quantidade: <input type="number" name="quantidade" value=""/></p>
            <p>Instituição: <input type="text" name="instituicao" value=""/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
