<doctype html>
  <title>List Analises</title>
  <body style="padding:20px">
    {% if cursor %}
    <table border="3px">
      <thead>
        <tr>
          <th><p1><a href="analise/insert"> Inserir Analise</a></p1></th>
        </tr>
      </thead>
    <br/><br/>
      <table border="2px">
        <thead>
          <tr>
            <th>Numero de Análise</th>
            <th>Especialidade</th>
            <th>Numero de Cédula</th>
            <th>Numero de Doente</th>
            <th>Data</th>
            <th>Data Registo</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Instituição</th>
          </tr>
        </thead>
        <tbody>      
          {% for record in cursor %}
            <tr>
              <td>{{ record[0] }}</td>
              <td>{{ record[1] }}</td>
              <td>{{ record[2] }}</td>
              <td>{{ record[3] }}</td>
              <td>{{ record[4] }}</td>
              <td>{{ record[5] }}</td>
              <td>{{ record[6] }}</td>
              <td>{{ record[7] }}</td>
              <td>{{ record[8] }}</td>
              <td><a href="analise/update?num_analise={{ record[0] }}&especialidade={{ record[1]}}&num_cedula={{record[2]}}&num_doente={{record[3]}}&data={{record[4]}}&data_registo={{record[5]}}&nome={{record[6]}}&quantidade={{record[7]}}&instituicao={{record[8]}}"> Alterar Analise</a></td>
              <td><a href="analise/delete?num_analise={{ record[0] }}">Remover Analise</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p> Erro: ao obter dados da base de dados!</p>
    {% endif %}
  </body>
  </doctype>
  