<html>
    <title>Pergunta e)</title>
    <body>
        <h3>Prescricao</h3>
        <form action="perguntac/prescricao" method="post">
          <p>Num_Cedula: <input type="number" name="num_cedula" value=""/></p>
          <p>Num_Doente: <input type="number" name="num_doente" value=""/></p>
          <p>Data: <input type="date" name="data" value=""/></p>
          <p>Substancia: <input type="text" name="substancia" value=""/></p>
          <p><input type="submit" value="Submit"/></p>
        </form>
        <br><br>
        <h3>Venda</h3>
        <form action="perguntac/venda" method="post">
          <p>Num_Venda: <input type="number" name="num_venda" value=""/></p>
          <p>data_registo: <input type="date" name="data" value=""/></p>
          <p>substancia: <input type="text" name="substancia" value=""/></p>
          <p>quant: <input type="number" name="quantidade" value=""/></p>
          <p>preco: <input type="number" name="preco" value=""/></p>
          <p>inst: <input type="text" name="instituicao" value=""/></p>
          <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
