<doctype html>
  <title>List Prescricao_venda</title>
  <body style="padding: 20px">
    {% if cursor %}
    <table border="2px">
      <thead>
        <tr>
          <th>Numero Cédula</th>
          <th>Numero Doente</th>
          <th>Data</th>
          <th>Substancia</th>
          <th>Numero Venda</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
        <tr>
          <td>{{ record[0] }}</td>
          <td>{{ record[1] }}</td>
          <td>{{ record[2] }}</td>
          <td>{{ record[3] }}</td>
          <td>{{ record[4] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Erro: ao obter dados da base de dados!</p>
    {% endif %}
  </body>
</doctype>
