<html>
    <title>Adicionar Prescricao</title>
    <body>
        <h3>Adicionar Prescricao Nova</h3>
        <form action="insert/done" method="post">
            <p>Num_Cedula: <input type="number" name="num_cedula" value=""/></p>
            <p>Num_Doente: <input type="number" name="num_doente" value=""/></p>
            <p>Data: <input type="text" name="data" value=""/></p>
            <p>Substancia: <input type="text" name="substancia" value=""/></p>
            <p>Quantidade: <input type="number" name="quantidade" value=""/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
