<doctype html>
<title>Projeto#3 - G50</title>
<body style="padding:20px">
  <table border="2px">
    <thead>
      <tr>
        <th>Ponto</th>
        <th>1º Ligação</th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <th><p1>a)</p1></th>
        <td><a href="instituicao">instituicao</a> / <a href="medico">medico</a></td></td>
      </tr>
      <tr>
        <th><p1>b)</p1></th>
        <td><a href="prescricao">prescricao</a> / <a href="analise">analise</a></td>
      </tr>
      <tr>
        <th><p1>c)</p1></th>
        <td><a href="registoVenda">Venda Farmácia</a></td>
      </tr>
      <tr>
        <th><p1>d)</p1></th>
        <td><a href="perguntad">Substância prescritas por um médico num dado mês do ano</a></td>
      </tr>
      <tr>
        <th><p1>e)</p1></th>
        <td><a href="perguntae">Glicémia Concelhos</a></td>
      </tr>
    </tbody>
  </table>
</body>
</doctype>
