<html>
<title>Adicionar Instituicao</title>
<body>
        <h3>Adicionar Instituicao</h3>
        <form action="insert/done" method="post">
            <p><input type="hidden" name="nome" value=""/></p>
            <p>Nome: <input type="text" name="nome_novo" value=""/></p>
            <p>Tipo: <input type="text" name="tipo" value=""/></p>
            <p>Num Regiao: <input type="number" name="regiao" value=""/></p>
            <p>Num Concelho: <input type="number" name="concelho" value=""/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
